/* Sticky header */
header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  z-index: 1000;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
}

/* Logo styling */
.logo img {
  height: 55px;
}

/* Navigation styling */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #093b6a;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
  }
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  padding-left: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
  }
}

.header-two .menu-area {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-two .top-callus {
  background: #ed1e24;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 0 0px 20px 20px;
  width: 100%;
}
.call-box li {
  color: #093b6a;
  font-size: 16px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.call-box ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
