.mat-mdc-card {
  position: relative;
  margin: 0 25px;
  min-height: 300px;
  height: auto;
  background: linear-gradient(45deg, #373a40 0%, #676e72 100%);
  color: #f9f1f0;
}
.mat-icon {
  font-size: 35px;
  height: auto;
  width: auto;
}
