.mat-mdc-card {
  position: relative;
  margin: 0 25px;
  height: 250px;
  background: linear-gradient(45deg, #41729f 0%, #5885af 100%);
  color: #f9f1f0;
}
.mat-icon {
  font-size: 35px;
  height: auto;
  width: auto;
}
