<section class="pt-50 pb-50" style="background-color: #eff8ff">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 text-end pr-50">
        <img class="finalImg" src="assets/images/shake-hand.jpg" />
      </div>
      <div class="col-lg-6 col-sm-12 d-flex align-items-center">
        <div class="container2">
          <p class="final-p">Why Choose Us</p>
          <!-- completed -->
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <strong>Cost-effective</strong> - Each business is unique and
              provides a variety of products and services. As a result, the
              scalability, functionality, and scope of the website have an
              impact on our charges.
            </div>
          </div>
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <strong>Dedicated Developer</strong> - For each customer project,
              we assign a dedicated web developer who will oversee any changes
              or difficulties until the project is completed.
            </div>
          </div>
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <strong>High Accountability</strong> - Website that is dependable,
              stable, and responsive - Because of the dependability and
              accessibility we provide, our esteemed clients fell in love with
              our we developer services.
            </div>
          </div>
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <strong>Continuous Support</strong> - To keep your website current
              and performing well, our professionals will provide ongoing
              maintenance.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
