<section>
  <div class="container pt-60 pb-60">
    <div class="row">
      <div class="col-4 d-flex justify-content-center align-items-center">
        <span><img class="img-cls" src="assets\images\office_add.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Office Address</h2>
            </li>
            <li><span>10 Aldborough Road, </span></li>
            <li><span>IG2 7ST</span></li>
          </ul>
        </span>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <span><img class="img-cls" src="assets\images\mobile.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Mobile</h2>
            </li>
            <li><span>+447392408240</span></li>
          </ul>
        </span>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <span><img class="img-cls" src="assets\images\email.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Email</h2>
            </li>
            <li><span>siddhubanalajobs@gmail.com</span></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</section>
