<section>
  <div class="container pt-60 pb-60">
    <div class="row">
      <div class="col-lg-4 col-sm-6 d-flex cont-sections">
        <span><img class="img-cls" src="assets\images\office_add.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Office Address</h2>
            </li>
            <li><span>18 - Aylesbury close, London, </span></li>
            <li><span>E7 9AU</span></li>
          </ul>
        </span>
      </div>
      <div class="col-lg-4 col-sm-6 d-flex cont-sections">
        <span><img class="img-cls" src="assets\images\mobile.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Mobile</h2>
            </li>
            <li><span>+447459088596</span></li>
          </ul>
        </span>
      </div>
      <div class="col-lg-4 col-sm-12 d-flex cont-sections">
        <span><img class="img-cls" src="assets\images\email.svg" /></span>
        <span>
          <ul>
            <li>
              <h2>Email</h2>
            </li>
            <li><span>nithinreddy.chinna007@gmail.com</span></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</section>
