<section
  style="
    background-image: url(assets/images/services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  "
>
  <div class="container pt-90 pb-90">
    <div class="row">
      <div class="col-lg-6 col-sm-12 pl-40">
        <h2 class="service-h2">We Shine a Light on Your Business</h2>
        <p class="pr-60">
          Our talented offshore developers use tried-and-true methodologies,
          in-depth domain knowledge, and technology experience to deliver
          high-quality and unique solutions that accelerate the growth of your
          business. We offer cost-effective offshore software development
          services in order to deliver excellent results.
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 t-25">
        <app-card
          title="UI/UX Design"
          description="A well-designed website can help your company grow quickly. When developing websites, our team of experts always employs the most cutting-edge technologies."
          icon="extension"
        ></app-card>
      </div>
      <div class="col-lg-3 col-sm-6 t-25">
        <app-card
          title="Digital Marketing"
          description="Digital platforms are an effective tool for assisting businesses in becoming more competitive, and we provide the most accurate and quantitative search results.
        "
          icon="shop"
        ></app-card>
      </div>
    </div>
    <div class="row pt-75">
      <div class="col-lg-3 col-sm-6">
        <app-card
          title="Mobile App Development"
          description="We work hard to provide the best UI/UX designs, IoT, and AI-based software solutions to our clients.  
        "
          icon="important_devices"
        ></app-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card
          title="QA Testing"
          description="We identify vulnerabilities in your software that cannot be found automatically through manual testing, which is commonly used on smaller builds and systems that require frequent updates.
        "
          icon="bug_report"
        ></app-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card
          title="WordPress Development"
          description="Because we are highly qualified in both areas, we can create a professional WordPress website for your small or large business at a competitive price.
        "
          icon="build"
        ></app-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <app-card
          title="Software Development"
          description="We are market leaders in the provision of expert software development services. We specialize in web and mobile apps."
          icon="work"
        ></app-card>
      </div>
    </div>
  </div>
</section>
