.selected-card {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14),
    0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 65px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125em;
  margin: 0 0 16px;
}
p {
  margin: 0 0 12px;
  letter-spacing: 1px;
  line-height: 25px;
}

.service-h2 {
  font-size: xxx-large;
  letter-spacing: 2px;
  line-height: 55px;
}
