.mat-mdc-raised-button:not(:disabled) {
  color: #fff;
  background: #006d67;
  padding: 30px 40px;
  border-radius: 30px;
}

.mat-mdc-raised-button:hover {
  color: #006d67;
  background: #d3e4f7;
}

.home {
  height: 500px;
  color: #004948;
  h1 {
    font-size: xxx-large;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: initial;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
